<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Happy Camping.</h1>
            <p>View our hand-picked campground from all over the world</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
            </p>
        </div>
    </header>
    
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <div class="thumbnail">
                        <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
                    </div>
                    
                    <div class="card-body">
                        <h4 class="card-title"><%= campground.name %></h4>
                        <p class="card-text"><%- campground.description.substring(0, 80) %>....</p>
                        <p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>      
            </div>
        <% }); %>
    </div>
    
        
</div>
<% include ../partials/footer %>